<template name="home">
    <div class="ui four column main-content features grid">
        {{#each feature}}
            <div class="center aligned column">
                <a href="{{path}}" class="ui unstyled no-hover-styles no-underline link icon header">
                    <span class="headline">{{text}}</span>
                    <i class="{{color}} {{icon}} boilerplate-feature icon"></i>
                </a>
            </div>
        {{/each}}
    </div>

    <div id="packages" class="main-content padding-wrapper">
        <div class="ui fitted horizontal icon divider"><i class="magic icon"></i></div>
        <div class="ui two column stackable grid">
            <div class="middle aligned row">
                <div class="center aligned column">
                    <div class="center aligned icon-wrapper">
                        <i class="circular massive red archive icon"></i>
                    </div>
                </div>
                <div class="column">
                    <h3 class="large ui header">Meteor JS <div class="sub header">Don't reinvent the wheel</div></h3>
                    <p>Meteor JS is javascript full-stack web application developement framework.  It is easy to use, remarkably powerful and beginner-friendly.</p>
                    <div class="ui list">
                        {{#each package}}
                            <a href="{{path}}" class="item no-underline link">
                                <i class="archive icon"></i>
                                {{name}}
                            </a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="console-tool" class="main-content padding-wrapper">
        <div class="ui fitted horizontal icon divider"><i class="magic icon"></i></div>
        <div class="ui two column stackable grid">
            <div class="middle aligned row">
                <div class="column">
                    <h3 class="large ui header">Rapid Prototyping <div class="sub header">Bring your ideal or prodcut to market now!</div></h3>
                    <p>
                        To speed and simplicity of Meteor JS allows anyone to build the web page they've always wanted.  <br />
                        Using a foundation built by node.js community, Meteor is the next step in modern web development.  Learn it here, build your dream.
                    </p>
                    <div class="ui list">
                        {{#each consoleCommand}}
                        <div class="item">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header">{{command}}</div>
                                <div class="description">{{description}}</div>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                    <div class="ui info message">
                        <div class="header">
                          <a href="mailto:de.braid@gmail.com">Write me</a> if you have any ideas.
                        </div>
                          Here is a list of 70 ways to<a href="https://twitter.com/vivian/timelines/505375883063230465" target="_blank"> make money online.</a>
                    </div>
                </div>
                <div class="center aligned column">
                    <div class="center aligned icon-wrapper">
                        <i class="circular massive code icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="html5" class="main-content padding-wrapper">
        <div class="ui fitted horizontal icon divider"><i class="magic icon"></i></div>
        <div class="ui two column stackable grid">
            <div class="middle aligned row">
                <div class="center aligned column">
                    <div class="center aligned icon-wrapper">
                        <i class="circular massive orange html5 icon"></i>
                    </div>
                </div>
                <div class="column">
                    <h3 class="large ui header">UVMP Workshop <div class="sub header">by Derek Braid and Alex Pineda</div></h3>
                    <p>
                        We are hosting the seminar at McMaster Innovation Park, September 99th, 2014.
                    </p>
                    <h4>Thank you to our sponsors:</h4>
                    <table class="ui basic table">
                        <thead>
                        <tr>
                            <th>Food</th>
                            <th>Venue</th>
                            <th>Corporate</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each semanticElement}}
                        <tr>
                            <td>{{what}}</td>
                            <td>{{withBootstrap}}</td>
                            <td>{{withSemanticUI}}</td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="structure" class="main-content padding-wrapper">
        <div class="ui fitted horizontal icon divider"><i class="magic icon"></i></div>
        <div class="ui two column stackable grid">
            <div class="middle aligned row">
                <div class="column">
                    <h3 class="large ui header">What you'll learn<div class="sub header">and what to prepare for</div></h3>
                    <p>
                       Web development is complex.  Many browsers, different screen sizes, various frameworks.  You need to know:
                        <br />
                        <ul>
                            {{#each folder}}
                            <li>
                                {{root}}
                                {{#if children}}
                                <ul>
                                    {{#each children}}
                                    <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                                {{/if}}
                            </li>
                            {{/each}}
                        </ul>
                    </p>

                </div>
                <div class="center aligned column">
                    <div class="center aligned icon-wrapper">
                        <i class="circular massive unordered list icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
