<template name="header">
    <div class="center aligned header-wrapper">
        <h1 class="huge center aligned ui header">
            Ultimate MVP
            <div class="sub header">
                <h3>Bring Your Idea to Life.  Build a real-time web app in 1 day.</h3>
            </div>
        </h1>

        <button class="basic ui resize icon button"><i class="angle down icon"></i>
        <div id="main-email-input" class="ui action input">
                      <input type="text" placeholder="Enter Email Address">
                      <div class="ui button orange icon">Tell me more!</div>
                    </div>
                    </button>
    </div>
</template>

